<a href="https://colab.research.google.com/github/kriaz100/Python_crash_course_notebooks/blob/main/Chapter_3_Introducing_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
<font color='blue'>*Crash Course in Python*</font>
>  # <font color='darkblue'>**Chapter 3: Introducing Lists**</font>



---

<font color='blue'>**bicycles.py**</font>

### **What is a List?**

In [ ]:
# Accessing Elements in a List
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0])
print(bicycles[0].title())

trek
Trek

In [ ]:
# Index position starts at 0, not 1
#   code returns 2nd and 4rth bicycles in the list
print(bicycles[1])
print(bicycles[3])

cannondale
specialized

In [ ]:
# Index -1 returns the last item in the bicycles list
print(bicycles[-1])

specialized

In [ ]:
# Using Individual Values from a List
message = f"My first bicycle was a {bicycles[0].title()}."
print(message)

My first bicycle was a Trek.

<font color='blue'>**motorcycles.py**</font>

##### **Changing, Adding, and Removing Elements**

In [ ]:
# Modifying elements of a list 
motorcycles = ['honda', 'yamaha', 'suzuki'] 
print(motorcycles)

motorcycles[0]= 'ducati'    # will replace first item
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

In [ ]:
# Adding Elements to a List - append()
motorcycles.append('ductai')
print(motorcycles)

['ducati', 'yamaha', 'suzuki', 'ductai']

In [ ]:
# Adding Elements to a List -- starting from an empty list
motorcycles =[]

motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')

print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [ ]:
# inserting an element into the list

motorcycles.insert(0, 'ductai')
print(motorcycles)

['ductai', 'honda', 'yamaha', 'suzuki']

In [ ]:
# Removing an element from the list
motorcycles = ['honda', 'yamaha', 'suzuki']
del(motorcycles[0])

print(f"Sirst item removed from list: {motorcycles}")

motorcycles = ['honda', 'yamaha', 'suzuki']
del(motorcycles[1])
print(f"\nSecond item removed from list: {motorcycles}")

Sirst item removed from list: ['yamaha', 'suzuki']

Second item removed from list: ['honda', 'suzuki']

*Removing items with pop() Method*

- Consider the list a stack of items where items are stacked one on the other, so that the top-item is the last item in the list.
- Unlike the other methods of removing items from the list, <font color='darkblue'>*the popped item remains available for programming*</font>

In [ ]:
# pop an item from list
motorcycles = ['honda', 'yamaha', 'suzuki']
print(f"Original list: {motorcycles}")

# The popped item remains available
poped_motorcycle =motorcycles.pop()
print(f"List after item popped: {motorcycles}")
print(f"The popped item: {poped_motorcycle}")

Original list: ['honda', 'yamaha', 'suzuki']
List after item popped: ['honda', 'yamaha']
The popped item: suzuki

In [ ]:
# Popping an item from any position on the list
motorcycles = ['honda', 'yamaha', 'suzuki']

last_owned = motorcycles.pop()
print(f"My last bought motorcycle was {last_owned.title()}")

first_owned = motorcycles.pop(0)
print(f"My first owned motorcycle was {first_owned.title()}")

My last bought motorcycle was Suzuki
My first owned motorcycle was Honda

In [ ]:
# Removing an item by Value
motorcycles = ['honda', 'yamaha', 'suzuki', 'ductai']
print(motorcycles)

motorcycles.remove('ductai')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ductai']
['honda', 'yamaha', 'suzuki']

In [ ]:
# Removing an item
motorcycles = ['honda', 'yamaha', 'suzuki', 'ductai']
print(motorcycles)

too_expensive = 'ductai'
motorcycles.remove(too_expensive)

print(motorcycles)
print(f"\nA {too_expensive} is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ductai']
['honda', 'yamaha', 'suzuki']

A ductai is too expensive for me.

***`remove()`*** removes only the first occurence of an item. If there are multiple items with teyh same value, you have to loop through

### **Organizing a list**

<font color='blue'>**cars.py**</font>

*Sorting list Permanently*

In [ ]:
# Sorting a list Pemanently with sort() Method

cars = ['bmw', 'audi', 'toyota', 'subaru']
print(f"Original list:")
print(cars)

cars.sort()
print(f"\nSorted list:")
print(cars)

# reverse sorting
cars.sort(reverse = True)
print(f"\nReverse sorted list:")
print(cars)

Original list:
['bmw', 'audi', 'toyota', 'subaru']

Sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Reverse sorted list:
['toyota', 'subaru', 'bmw', 'audi']

*Sorting a list temporarily with **`sorted()`** Function*

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(f"Original list:")
print(cars)

print(f"\nHere is the sorted list:")
print(sorted(cars))

print(f"\nThe original list remains intact")
print(cars)

Original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

The original list remains intact
['bmw', 'audi', 'toyota', 'subaru']

**<font color='blue'>
NOTE: 
</font>**

<font color='darkblue'>*Sorting a list alphabetically is more complicated when all the values are not in lowercase. There are several ways to interpret capital letters when determining a sort order. Discussion of those ways is beyond the scope of this exercise.*</font>

*Finding the <font color='darkblue'>length</font> of the list*

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

4

**<font color= 'blue'>
NOTE:
</font>**

<font color= 'darkblue'>

*If you encounter index error, remember that people tend to start counting from 1. Python counts from zero (0, 1, 2....) . Print the list to get a better idea of how to deal with index error.  The list might look much different from you thought it did, especially iof it has been managed dynamically by your program.*
</font>